@import url("https://fonts.googleapis.com/css?family=Oswald|Montserrat|Alex+Brush|Cormorant+SC:700&display=swap");

@font-face {
  font-family: "Averta";
  src: url("font/Averta.otf") format("opentype");
  font-display: swap;
}


:root {
  --main-bg-color: #222736;
  --main-color: #dfa974;
  --category-color: #ad5907;

  --font-main: 'Oswald';
  --font-text: 'Montserrat';
  --font-signature: 'Alex Brush';
}

html,
body {
  background-color: var(--main-color) !important;
  font-family: "Oswald", cursive;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--main-bg-color);
  font-weight: 400;
  font-family: var(--font-main), serif;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 34px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
img {
  max-width: 100%;
}
input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

ul,
ol{
  outline: none;
  padding: 0;
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;
}


@media (max-width: 768px) {
  html, body {
    overflow-x: hidden!important;
  }

  .container {
    margin-top: 100px;
  }
}


	/*
  	Flaticon icon font: Flaticon
  	Creation date: 02/02/2020 15:59
  	*/

    @font-face {
      font-family: "Flaticon";
      src: url("font/Flaticon.eot");
      src: url("font/Flaticon.eot?#iefix") format("embedded-opentype"),
           url("font/Flaticon.woff") format("woff"),
           url("fontFlaticon.ttf") format("truetype"),
           url("font/Flaticon.svg#Flaticon") format("svg");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }

    @media screen and (-webkit-min-device-pixel-ratio:0) {
      @font-face {
        font-family: "Flaticon";
        src: url("./font/Flaticon.svg#Flaticon") format("svg");
      }
    }

    [class^="flaticon-"]:before, [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after, [class*=" flaticon-"]:after {
      font-family: Flaticon;
      font-size: 40px;
      font-style: normal;
    }

    .flaticon-mission:before { content: "\f100"; }
    .flaticon-eye:before { content: "\f101"; }
    .flaticon-goal:before { content: "\f102"; }
    .flaticon-mindset:before { content: "\f103"; }
    .flaticon-brain:before { content: "\f104"; }
    .flaticon-workshop:before { content: "\f105"; }
    .flaticon-flower:before { content: "\f106"; }
    .flaticon-yoga:before { content: "\f107"; }
    .flaticon-paint:before { content: "\f108"; }
    .flaticon-mental:before { content: "\f109"; }
    .flaticon-speaker:before { content: "\f10a"; }
    .flaticon-send:before { content: "\f10b"; }
    .flaticon-back:before { content: "\f10c"; }
    .flaticon-buddhism:before { content: "\f10d"; }
    .flaticon-mortar:before { content: "\f10e"; }
    .flaticon-buddhism-1:before { content: "\f10f"; }