@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Oswald|EB+Garamond|Alex+Brush|Cormorant+SC:700&display=swap");

@font-face {
  font-family: "Averta";
  src: url("font/Averta.otf") format("opentype");
}


:root {
  --main-bg-color: #222736;
  --main-color: #dfa974;
  --category-color: #ad5907;

  --font-main: 'Oswald';
  --font-text: 'EB Garamond';
  --font-signature: 'Alex Brush';
}

html,
body {
  background-color: var(--main-color) !important;
  overflow-x: hidden !important;
  font-family: "EB Garamond", "Oswald", cursive;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: var(--main-bg-color);
  font-weight: 400;
  font-family: var(--font-main), serif;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
img {
  max-width: 100%;
}
input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;
}
