@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Montserrat|Nunito+Sans|Oswald|Pinyon+Script|Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+SC:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amiri|Cinzel|Merienda|Old+Standard+TT|Playball|Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css?family=EB+Garamond&display=swap");

@font-face {
  font-family: "Averta";
  src: url("font/Averta.otf") format("opentype");
}

:root {
  --main-bg-color: #222736;
  --main-color: #dfa974;
}

html,
body {
  font-family: "Josefin Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--main-color) !important;
  overflow-x: hidden !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #111111;
  font-weight: 400;
  font-family: "Josefin Sans", serif;
}
h1 {
  font-size: 70px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
p {
  font-size: 16px;
  font-family: "Cabin", sans-serif;
  color: #6b6b6b;
  font-weight: 400;
}
img {
  max-width: 100%;
}
input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;
}
